{#
/**
 * @file
 * Template for GMWE 2 column zigzag
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
  set container_classes = [
  'panel-display',
  'showcase',
  'clearfix'
]
%}
{% if classes %}
  {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
  {% set container_classes = container_classes|merge(class) %}
{% endif %}

<!-- Image Showcases -->
<section {{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 text-hide showcase-img">
        {% set image = render_var(content.picture) %}
        {% if '<img' in image %}
          {{ image }}
        {% else %}
          <div class="w-100 h-100" style="background: transparent url('{{ image|striptags|trim ?: img_placeholder_uri(image_res[0], image_res[1]) }}') no-repeat center center; background-size: cover;"></div>
        {% endif %}
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{ content.title }}</h2>
        <div class="lead mb-0">{{ content.body }}</div>
      </div>
    </div>
  </div>
</section><!-- /.zigzag -->
